

body{
    background-color: #20242d;
    font-weight: 800;
    margin: 40px 0px;
    background-color: black;
}

.primary-color{
    background: linear-gradient(to right, purple, blueviolet);
    -webkit-background-clip: text;
    color: transparent; 
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: black;
    border-radius: 20px;
    padding: 5px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom, purple, rgb(194, 15, 45));
    border-radius: 20px;
    width: 8px;
    opacity: 0.4;
    transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
    opacity: 1;
}
ul,
p, 
.reply{
    width: 60%;
    height: max-content;
    padding: 20px;
    margin-right: 40%;
    border-radius: 20px 20px 20px 0px;
    color: white;
    text-align: left;
	background-image: linear-gradient(to right, purple, rgb(194, 15, 45));
}
ul, 
.reply{
    width: 60%;
    margin-left: 40%;
    border-radius: 20px 20px 0px 20px;
	background-image: linear-gradient(to right, rgb(194, 15, 45),purple);
}
#root{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
}
.container{
	width: 90vw;
	background-color: black; 
	margin: auto ;
	display: flex ;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}
.title{
	width: 100%;
	font-size: 3em;
	display: flex;
	flex-direction: column;
	margin: auto ; 
	color: white;
}
#chatBox{
	width: 100%;
	display: flex 
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}